@model WebApplication1.Models.ProductsCreatViewModel
@{
	ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

<div class="form-horizontal">
	<blockquote>
		<h3>新增產品</h3>
	</blockquote>
		<div style="background-color:aliceblue">

			<hr />
			@Html.ValidationSummary(true, "", new { @class = "text-danger" })


			<div class="form-group">
				@Html.LabelFor(model => model.ProductName, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.TextBoxFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.SupplierID, "供應商", htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.DropDownList("SupplierID", null, htmlAttributes: new { @class = "form-control" })
					@Html.ValidationMessageFor(model => model.SupplierID, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.CategoryID, "類別", htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.DropDownList("CategoryID", null, htmlAttributes: new { @class = "form-control" })
					@Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.QuantityPerUnit, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.TextBoxFor(model => model.QuantityPerUnit, new { htmlAttributes = new { @class = "form-control", placeholder = "12 oz" } })
					@Html.ValidationMessageFor(model => model.QuantityPerUnit, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.UnitPrice, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.TextBoxFor(model => model.UnitPrice, new { htmlAttributes = new { @class = "form-control", placeholder = "30.0" } })
					@Html.ValidationMessageFor(model => model.UnitPrice, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.UnitsInStock, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.TextBoxFor(model => model.UnitsInStock, new { htmlAttributes = new { @class = "form-control", placeholder = "123" } })
					@Html.ValidationMessageFor(model => model.UnitsInStock, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.UnitsOnOrder, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.TextBoxFor(model => model.UnitsOnOrder, new { htmlAttributes = new { @class = "form-control", placeholder = "123" } })
					@Html.ValidationMessageFor(model => model.UnitsOnOrder, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.ReorderLevel, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.TextBoxFor(model => model.ReorderLevel, new { htmlAttributes = new { @class = "form-control", placeholder = "123" } })
					@Html.ValidationMessageFor(model => model.ReorderLevel, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.Discontinued, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					<div class="checkbox">
						@Html.RadioButtonFor(model => model.Discontinued, true) 停售
						@Html.RadioButtonFor(model => model.Discontinued, false) 不停售
						@Html.ValidationMessageFor(model => model.Discontinued, "", new { @class = "text-danger" })
					</div>
				</div>
			</div>

			<hr />
		</div>
		<div class="form-group">
			<div class="col-md-10">
				@Html.ActionLink("回到產品列表", "Index", null, new { @class = "btn btn-warning" })
				<input type="submit" value="新增" class="btn btn-success" />
			</div>
			<div>
			</div>
		</div>
</div>
}

